go 1.26.2

use (
	.
	./internal/commonresources
	./internal/commonutils
	./internal/esxidatasources
	./internal/esxiresources
	./internal/esxiutils
	./internal/fmclient
	./internal/provider
	./internal/securetunnelcertsdatasources
	./internal/securetunnelcertsresources
	./internal/thirdpartyorchestrationdatasources
	./internal/thirdpartyorchestrationresources
	./tf_fm_backend
)
