go 1.26.0

use (
	./terraform-provider
	./terraform-provider/internal/anycloudresources
	./terraform-provider/internal/anyclouddatasources
	./terraform-provider/internal/commonactions
	./terraform-provider/internal/commonresources
	./terraform-provider/internal/commonutils
	./terraform-provider/internal/esxidatasources
	./terraform-provider/internal/esxiresources
	./terraform-provider/internal/esxiutils
	./terraform-provider/internal/fmclient
	./terraform-provider/internal/provider
)
