<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <!-- Left Sidebar -->
        <div class="sidebar">
            <li><a href="#" onclick="loadContent('/'); return false;">gigamon provider</a></li>
			<details>
				<summary> About the home page</summary>
				<div class="indented-content">
				    <ul>
                        <li><a href="#" onclick="loadContent('/about'); return false;">About</a></li>
				    </ul>
				</div>
			</details>
			<details>
				<summary> about the contact page</summary>
				<div class="indented-content">
				    <ul>
                      <li><a href="#" onclick="loadContent('/contact'); return false;">Contact</a></li>
				    </ul>
				</div>
			</details>
        </div>

        <!-- Right Content Pane -->
        <div class="content" id="right-pane">
            {% block content %}
            <!-- Default content if no block is defined -->
            <h1>Welcome!</h1>
            <p>Select a page from the sidebar.</p>
            {% endblock %}
        </div>
    </div>
	<script src="static/js/main.js"></script>
</body>
</html>

