[Unit]
Description="Internal Gigamon Terraform Registry"

[Service]
Type=simple
ExecStart=/home/jana/fm_terraform_provider/terraform-provider/doc_render/render.py --base_dir /home/jana
Restart=always
RestartSec=60
WorkingDirectory=/home/jana/fm_terraform_provider/terraform-provider/doc_render

[Install]
WantedBy=multi-user.target
